<form class="emp-form" #vModelForm="ngForm" (ngSubmit)="onSubmit(vModelForm)">
  <input  type="hidden" name="ID" #ID="ngModel" [(ngModel)]="vehicleModelService.selectedVehicleModel.ID">

  <div class="form-row">
  
  <div class="form-group col-md-6">
  <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="vehicleModelService.selectedVehicleModel.Name" placeholder="Name" required>
  <div class="validation-error" *ngIf="Name.invalid && Name.touched">This field is required</div>
  </div>
  
  <div class="form-group col-md-6">
      <input class="form-control" name="Abrv" #Abrv="ngModel" [(ngModel)]="vehicleModelService.selectedVehicleModel.Abrv" placeholder="Abrv" required>
      <div class="validation-error" *ngIf="Abrv.invalid && Abrv.touched">This field is required</div>
  
  </div>
  
  </div>

  <div class="form-row">
  
    <div class="form-group col-md-6">
    <input class="form-control" name="Color" #Color="ngModel" [(ngModel)]="vehicleModelService.selectedVehicleModel.Color" placeholder="Color" required>
    <div class="validation-error" *ngIf="Color.invalid && Color.touched">This field is required</div>
    </div>
    
    <div class="form-group col-md-6">
        <input class="form-control" name="vMakeID" #vMakeID="ngModel" [(ngModel)]="vehicleModelService.selectedVehicleModel.vMakeID" placeholder="Vehicle Make" required>
        <div class="validation-error" *ngIf="vMakeID.invalid && vMakeID.touched">This field is required</div>
    
    </div>
    
    </div>
  
  <div class="form-row">
  
      <div class="form-group col-md-8">
        <button [disabled]="!vMakeForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="far fa-save"></i> Submit</button>
      </div>
      
      <div class="form-group col-md-4">
          <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(vMakeForm)"> <i class="fa far-repeat"></i> Reset</button>
        </div>
      
      </div>
  
  </form>
  